body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  text-transform: capitalize;
  font-size: 50px;
}
.top-banner {
  display: flex;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.ancor-button {
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 700;
  background-image: linear-gradient(orange, rgb(250, 100, 107));
  color: white;
  border-radius: 10px;
}
a {
  text-transform: uppercase;
}
.orange-color {
  color: orange;
}
.half-width {
  width: 40%;
  padding-left: 5%;
  margin-left: 5%;
}
.half-width img {
  width: 80%;
}
.half-width p {
  text-align: justify;
}
section {
  margin-bottom: 150px;
}
#dream-big {
  display: flex;
  padding-right: 5%;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-items {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 2%;
  text-align: justify;
}
.experience-item {
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  box-shadow: 10px 10px 10px 10px gray;
  border-radius: 10px;
}
#fullstack-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, magenta, green);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, orange);
  border-image-slice: 1;
}
